@media (max-width: 576px) {
  .main-nav #navbarSupportedContent {
    background-color: #fff;
    padding-left: 1rem;
  }

  .hero_header .main-nav #navbarSupportedContent {
    background-color: #111;
    padding-left: 1rem;
  }

  .main-nav .nav-link:hover {
    color: unset;
    background-color: unset;
  }

  .hero .banner_img_right {
    display: none;
  }

  .location_tab .text {
    width: unset;
  }

  .hero .hero_text h1 {
    width: 100%;
    font-size: 4.5rem;
    text-align: left;
    padding-left: 20px;
  }

  .about {
    padding-top: 5rem;
  }

  .location {
    padding-bottom: 5rem;
  }

  .location_tab {
    padding: 2rem;
    height: unset;
  }

  .featured_foods .image_slider_div .single img {
    width: 100%;
    height: 35rem;
  }

  .hero_center_page {
    margin-top: 5rem;
  }

  .news_and_media .header_section {
    width: 100%;
  }

  .section_about_founder .founder_img img {
    width: 100%;
    height: auto;
  }

  /* .section .section_header{
    margin-top: 5rem;
  } */

  .section .section_header {
    padding-top: 4rem;
  }

  .section_about_img img {
    width: 100%;
  }

  .footer {
    height: 80vh;
  }

  .footer .top .footer_menu {
    flex-direction: column;
  }

  .section_manas {
    padding: 20px 10px;
    background: #fff !important;
    height: unset;
  }

  .hero .hero_text .btn-book-now{
    margin-right: auto;
    margin-left: 20px;
  }

  .section_contact_address{
    height: 50rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 992px) {
  .featured_foods .image_slider_div .single img {
    width: 100%;
    height: 35rem;
  }

  .section_about_img img {
    width: 100%;
  }

  /* .section .section_header{
    margin-top: 5rem;
  } */

  .section_about_founder .founder_img img {
    height: auto;
    width: 400px;
  }

  .footer {
    height: 50vh;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
