/*  ===================================== Common ===================================== */

.section_tag_line {
  font-size: 3rem;
  font-family: Branch-regular;
  margin-bottom: 10rem;
}

.section_header {
  font-size: 3rem;
  font-family: Branch-regular;
  color: var(--main-color);
}

.section_link {
  font-size: 1.5rem;
  font-family: Poppins-regular;
  color: var(--main-color);
}

.text {
  font-family: Poppins-regular;
  font-size: 1.5rem;
}

.btn-explore {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 3rem;
}

.btn-explore:hover {
  background-color: #fff;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-radius: 0;
  font-size: 1.5rem;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: unset;
  font-size: 1.3rem;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
  background-color: #111;
}
/*  ===================================== Common ends ===================================== */

/*  ===================================== Loader ===================================== */
.loader {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1111;
  background: #fff;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  ===================================== Loader ends ===================================== */

/* =================================== Banner ================================= */
.hero {
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero .banner_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-nav {
  font-family: Branch-regular;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.dropdown-menu {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 14px -1px rgba(194, 194, 194, 1);
  -moz-box-shadow: 0px 0px 14px -1px rgba(194, 194, 194, 1);
  box-shadow: 0px 0px 14px -1px rgba(194, 194, 194, 1);
}

.main-nav .nav-item:not(:last-child) {
  margin-right: 2rem;
}

.main-nav .nav-link {
  color: #111;
  font-size: 1.5rem;
  border-radius: 5px;
}

.main-nav .nav-link:hover {
  color: #fff;
  background-color: #111;
}

.main-nav .dropdown-item {
  font-size: 1.2rem;
  color: #fff;
  background-color: #111;
}

.hero .hero_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .hero_text h1 {
  color: #fff;
  font-size: 6rem;
  width: 65%;
  text-align: center;
  text-transform: capitalize;
  font-family: Branch-regular;
}

.hero .hero_text .btn-book-now {
  margin-top: 5rem;
  font-size: 1.5rem;
  border: 2px solid #fff;
  color: #fff;
  padding: 1rem 2rem;
  font-family: Branch-regular;
  font-weight: 600;
  border-radius: 5px;
}

.hero .hero_text .btn-book-now:hover {
  background-color: #fff;
  color: #111;
}

.hero .banner_img_right {
  position: absolute;
  right: 0rem;
  bottom: -10rem;
  width: 25rem;
}

.hero_header {
  height: 70vh !important;
}

.hero_header .main-nav .nav-link {
  color: #fff;
}
/*  ===================================== Banner ends ===================================== */

/*  ===================================== About ===================================== */
.about {
  background-image: url(../img/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
/*  ===================================== About ends ===================================== */

/*  ===================================== Location ===================================== */
.location {
  padding-top: 0rem;
  padding-bottom: 10rem;
}

.location_header {
  font-size: 3rem;
}

.location_tab {
  font-family: Branch-regular;
  background-image: url(../img/location.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem;
  height: 400px;
}

.location_tab .text {
  font-size: 1.3rem;
  color: #fff;
  width: 50rem;
}

.location_tab .location_title {
  font-size: 3rem;
  color: #fff;
}

.location_tab .nav-link {
  color: #fff;
  font-size: 1.5rem;
  padding: 0;
  margin-bottom: 2rem;
}

.location_tab .nav-link.active {
  background: transparent;
  color: #fff;
  font-size: 2.5rem;
  border-bottom: 1px solid;
  border-radius: 0;
}
/*  ===================================== Location ends ===================================== */

/*  ===================================== Featured foods ===================================== */
.featured_foods .image_slider_div .single {
  position: relative;
}

.featured_foods .image_slider_div .single img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
}

.featured_foods .image_slider_div .single .description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
}

.featured_foods .image_slider_div .single .description .header {
  font-size: 2.5rem;
  font-family: Branch-regular;
  color: #fff;
}

.featured_foods .image_slider_div .single .description .sub_header {
  font-size: 1.2rem;
  font-family: Poppins-regular;
  color: #fff;
}
/*  ===================================== Featired foods ends ===================================== */

/*  ===================================== News and media ===================================== */
.news_and_media .header_section {
  padding-top: 10rem;
  width: 70%;
  margin: auto;
  margin-bottom: 2rem;
}

.news_and_media .header_section p {
  font-size: 1.3rem;
  font-family: Poppins-regular;
}

.news_and_media .news_single {
  position: relative;
  height: 400px;
}

.news_and_media .news_single .description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
}

.news_and_media .news_single .description .title {
  font-size: 2.5rem;
  font-family: Branch-regular;
  color: #fff;
}

.news_and_media .news_single .description .small_desc {
  font-size: 1rem;
  font-family: Poppins-regular;
  color: #fff;
}

.news_and_media .news_single .description .link {
  font-size: 1.4rem;
  font-family: Branch-regular;
  color: #fff;
  text-decoration: none;
}

.news_and_media .news_single .thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*  ===================================== News and media ends ===================================== */

/*  ===================================== Footer ===================================== */
.footer {
  padding: 3rem;
  padding-top: 6rem;
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.footer .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer .top .footer_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 2rem 0;
}

.footer .top .footer_menu .menu-item {
  margin: 0 2rem;
}

.footer .top .footer_menu .menu-item a {
  text-decoration: none;
  color: #111;
  font-family: Branch-regular;
  font-size: 1.5rem;
}

.footer .top .footer_socials {
  display: flex;
  justify-content: center;
}

.footer .top .footer_socials .social {
  border: 1px solid #111;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 2rem;
}

.footer .top .footer_socials .social a {
  color: #111;
}

.footer .top .footer_socials .social:hover {
  background-color: #111;
}

.footer .top .footer_socials .social:hover a {
  color: #fff;
}
/*  ===================================== Footer ends ===================================== */

/*  ===================================== Floating whatsapp ===================================== */
.floating {
  position: fixed;
  bottom: 7rem;
  right: 2rem;
  z-index: 10;
}

.floating a img {
  width: 5rem;
}
/*  ===================================== Floating whatsapp ends ===================================== */

/*  ===================================== About page ================================================= */
.section .section_header {
  padding-top: 8rem;
}

.hero_center_page {
  background: url(../img/web.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15rem 0 20rem 0;
}

.hero_center_page p {
  font-size: 3rem;
  color: #fff;
  font-family: Branch-regular;
  text-align: center;
}

.section_about {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  padding-bottom: 10rem;
}

.section_about p {
  font-family: Poppins-regular;
}

.section_about_img img {
  width: 100%;
  height: 256px;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.section_about_founder {
  background-color: var(--main-color);
}

.section_about_founder .founder_img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.section_about_founder .founder_img img {
  height: 657px;
  width: 461px;
  object-fit: cover;
}

video[poster] {
  object-fit: cover;
}

/* ================================ Manas Page ================================ */
.section_manas {
  width: 100%;
  padding: 5rem 0;
}

.section_manas p,
.section_about_center p {
  text-align: center;
}

.section_about_center {
  background-color: #076775;
  padding: 5rem 0;
}

.carousel_image img {
  width: 100%;
}

/* =============================== Gallery page ============================ */
.section_gallery {
  padding: 50px 0;
}

.section_gallery .filter_buttons {
  text-align: center;
}

.section_gallery .filter_buttons .btn {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  font-size: 1.5rem;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.section_gallery .filter_buttons .btn:hover,
.section_gallery .filter_buttons .btn.active {
  background-color: var(--main-color);
  color: #fff;
}

.section_gallery .item {
  height: 25rem;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.section_gallery .single {
  float: left;
  display: none;
}
.section_gallery .item .title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(1, 1, 1, 50%);
  color: #fff;
  z-index: 9;
}

.section_gallery .item .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section_gallery .item .play-btn img {
  width: 5rem;
}

.section_gallery .item .title p {
  font-size: 1.3rem;
  padding: 1rem;
}

.section_gallery .gallery_items {
  margin-top: 2rem;
}

.section_gallery .item img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
  object-fit: cover;
}

.section_gallery .item img:hover {
  transform: scale(1.1);
}

.section_gallery .show {
  display: block;
  animation: fadeIn 0.3s ease-in;
}


/* ==================================== Contact page ========================= */
.section_contact .inner{
  background-color: var(--main-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.section_contact .inner p{
  text-align: center;
  color: #fff;
}

.section_contact .inner p.title{
  font-size: 2rem;
}